{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<form method="Post" action="/signup/">
    <fieldset>
        <h2 class="fs-title">Create your account</h2>
        <input type="text" name="username" placeholder="username"/>
        <br>
        <input type="text" name="first_name" placeholder="first_name"/>
        <br>
        <input type="text" name="last_name" placeholder="last_name"/>
        <br>
        <input type="file" name="photo">
        <br>
        <input type="email" name="email" placeholder="Email"/>
        <br>
        <input type="date" name="birth_date"/>
        <br>
        <LABEL>
            <input type="radio" name="sex" value="Male"/>male</LABEL>
        <LABEL> <input type="radio" name="sex" value="Female"/> Female</LABEL>
        <br>
        <input type="password" name="password" placeholder="password"/>
        <br>

        <br>
        <input type="submit" name="next" value="SignUp!"/>
    </fieldset>
</form>

<br>
<br>
<br>

<form>
    <div class="col-sm-4"></div>
    <div class=" form-group col-sm-4">

        <div class="form-group">
            <label for="username">User Name:</label>
            <input type="text" class="form-control " id="username">
        </div>
        <div class="form-group mb-2">
            <label for="FirstName">first Name:</label>
            <input type="text" class="form-control " id="FirstName">
        </div>
        <div class="form-group mb-2">
            <label for="lastName">LastName:</label>
            <input type="text" class="form-control " id="LastName">
        </div>

        <label for="Sex">Sex:</label>
        <div class="radio">
            <label><input type="radio" name="optradio" value="Male">Male</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio" value="Female">Female</label>
        </div>

        <div class="form-group mb-2">
            <label for="email">photo:</label>
            <input type="file" class="form-control " id="photo">
        </div>

        <div class="form-group mb-2">
            <label for="email">Email address:</label>
            <input type="email" class="form-control " id="email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control .col-sm-3" id="pwd">
        </div>
        <button type="submit" class="btn btn-default">Sign up!</button>
    </div>
</form>


</body>
</html>