<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="Post"  action="/signup/" >
    <fieldset>
    <h2 class="fs-title">Create your account</h2>
    <input type="text" name="username" placeholder="username" />
    <br>
    <input type="text" name="first_name" placeholder="first_name" />
    <br>
    <input type="text" name="last_name" placeholder="last_name" />
    <br>
    <input type="file" name="photo">
    <br>
    <input type="email" name="email" placeholder="Email" />
    <br>
    <input type="date" name="birth_date" />
    <br>
    <LABEL>
    <input type="radio" name="sex" value="Male" />male</LABEL>
        <LABEL> <input type="radio" name="sex" value="Female" /> Female</LABEL>
    <br>
    <input type="password" name="password" placeholder="password" />
    <br>

    <br>
    <input type="submit" name="next"  value="SignUp!" />
  </fieldset>
</form>

</body>
</html>